$grid-a--width: 190px;
//ширина грида
$side--padding: 62px;
$left-sidebar_inner--width: $grid-a--width + $side--padding;
//ширина левой колонки
$left-sidebar_inner--right-padding: $grid-a--width / 2;
//отступ справа от левой колонки
$pattern: url('../img/body--bg.jpg');
$pattern2: url('../img/layers--bg-pattern.jpg');
$border-radius3: 3px;
$footer--padding: 100px;
$HelveticaNeueCyr: HelveticaNeueCyr;
/* colors */
$text-color: #333;
$blue-lighter: #3399ff;
$blue-darker: #2c84d7;
$brown-darker: #a86031;
$brown-lighter: #b6744e;
/* borders */
$layers--border-brown: solid 1px #e9d7b9;
$border-dotted-brown: dotted 2px #d6b49d;

html, body {
  width: 100%;
  height: 100%;
}

body {
  overflow-y: scroll;
  color: #333;
  font-family: Arial, Tahoma, Verdana;
  font-size: 15px;
}

body.bg-pattern {
  background-color: #f7eee3;
  background-image: $pattern;
}

a {
  color: $brown-darker;
  &:hover {
    color: $blue-lighter;
  }
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

b, strong {
  font-weight: bold;
}

p {
  margin-top: 10px;
  &:first-child {
    margin-top: 0;
  }
}