.l-container_inner {
  position: relative;
  width: 100%;
  min-height: 843px;
}

.l-sidebar-left_inner {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  width: $left-sidebar_inner--width + $left-sidebar_inner--right-padding;
  height: 1280px;
  overflow: hidden;
  direction: rtl;
  background: url('../img/l-sidebar-left_inner--bg.png') no-repeat left top;
}

.l-sidebar-left_inner--cont {
  direction: ltr;
}

.l-menu-top_inner {
  position: fixed;
  left: $left-sidebar_inner--width;
  right: $side--padding;
  top: 20px;
  z-index: 20;
  background: $pattern2;
  border-left: solid 1px $layers--border-brown;
  border-right: solid 1px $layers--border-brown;
  border-bottom: solid 1px $layers--border-brown;
  @include border-radius($border-radius3);
}

.l-content_inner {
  margin: 100px $side--padding 0 $left-sidebar_inner--width + $left-sidebar_inner--right-padding;
  padding-bottom: $footer--padding;
  overflow: hidden;
}

.l-content-header_inner {

}

.l-houses_main {
  margin-top: 45px;
}

.l-houses_inner {
  @extend .l-houses_main
}
