.l-container_inner {
  //position: relative;
  width: 100%;
  min-height: 100%;
}

.l-sidebar-left_inner {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  width: $left-sidebar_inner--width + $left-sidebar_inner--right-padding;
  height: 1280px;
  background: url('../img/l-sidebar-left_inner--bg.png') no-repeat left top;
}

.l-menu-top_inner {
  position: fixed;
  min-width: 949px;
  left: $left-sidebar_inner--width;
  right: $side--padding;
  top: 20px;
  z-index: 200;
  background: $pattern2;
  border-left: $layers--border-brown;
  border-right: $layers--border-brown;
  border-bottom: $layers--border-brown;
  @include border-radius($border-radius3);
}

.l-content_inner {
  //width: 100%;
  min-width: 854px;
  margin: 0 $side--padding 0 $left-sidebar_inner--width + $left-sidebar_inner--right-padding;
  padding: 100px 0 $footer--padding 0;
  //overflow: hidden;
}

.l-content-header_inner {

}

.l-houses_main {
  margin-top: 45px;
}

.l-houses_inner {
  @extend .l-houses_main
}

.l-slider-photos {
  margin-top: 30px;
}