@charset "IBM866";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, C:/Rails/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, C:/Rails/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, C:/Rails/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, C:/Rails/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, C:/Rails/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, C:/Rails/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}

/* line 101, C:/Rails/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, C:/Rails/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, C:/Rails/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 15, D:/projects/other/wh/html/sass/partials/_base.scss */
html, body {
  width: 100%;
  min-height: 100%;
  height: 100%;
  overflow: auto;
}

/* line 22, D:/projects/other/wh/html/sass/partials/_base.scss */
body {
  min-width: 960px;
  color: #333;
  font-family: Arial, Tahoma, Verdana;
  font-size: 15px;
  background-color: #f7eee3;
  background: url("../img/body--bg.jpg");
}

/* line 31, D:/projects/other/wh/html/sass/partials/_base.scss */
a {
  color: #a86031;
}

/* line 33, D:/projects/other/wh/html/sass/partials/_base.scss */
a:hover {
  color: #3399ff;
}

/* line 38, D:/projects/other/wh/html/sass/partials/_base.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 45, D:/projects/other/wh/html/sass/partials/_base.scss */
sup {
  top: -0.5em;
}

/* line 49, D:/projects/other/wh/html/sass/partials/_base.scss */
sub {
  bottom: -0.25em;
}

/* line 53, D:/projects/other/wh/html/sass/partials/_base.scss */
b, strong {
  font-weight: bold;
}

/* For image replacement */
/* line 2, D:/projects/other/wh/html/sass/partials/_helpers.scss */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0;
}

/* line 14, D:/projects/other/wh/html/sass/partials/_helpers.scss */
.ir br {
  display: none;
}

/* Hide from both screenreaders and browsers: h5bp.com/u */
/* line 19, D:/projects/other/wh/html/sass/partials/_helpers.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
/* line 25, D:/projects/other/wh/html/sass/partials/_helpers.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
/* line 37, D:/projects/other/wh/html/sass/partials/_helpers.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* Hide visually and from screenreaders, but maintain layout */
/* line 47, D:/projects/other/wh/html/sass/partials/_helpers.scss */
.invisible {
  visibility: hidden;
}

/* Contain floats: h5bp.com/q */
/* line 52, D:/projects/other/wh/html/sass/partials/_helpers.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

/* line 57, D:/projects/other/wh/html/sass/partials/_helpers.scss */
.clearfix:after {
  clear: both;
}

/* line 61, D:/projects/other/wh/html/sass/partials/_helpers.scss */
.clearfix {
  *zoom: 1;
}

/* Floating rules */
/* line 66, D:/projects/other/wh/html/sass/partials/_helpers.scss */
.pull-left {
  float: left;
}

/* line 70, D:/projects/other/wh/html/sass/partials/_helpers.scss */
.pull-right {
  float: right;
}

/* line 1, D:/projects/other/wh/html/sass/partials/_layers.scss */
.l-container_inner {
  position: relative;
  width: 100%;
  min-height: 843px;
}

/* line 7, D:/projects/other/wh/html/sass/partials/_layers.scss */
.l-sidebar-left_inner {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  width: 347px;
  height: 1280px;
  overflow: hidden;
  direction: rtl;
  background: url("../img/l-sidebar-left_inner--bg.png") no-repeat left top;
}

/* line 19, D:/projects/other/wh/html/sass/partials/_layers.scss */
.l-sidebar-left_inner--cont {
  direction: ltr;
}

/* line 23, D:/projects/other/wh/html/sass/partials/_layers.scss */
.l-menu-top_inner {
  position: fixed;
  left: 252px;
  right: 62px;
  top: 20px;
  z-index: 20;
  background: url("../img/layers--bg-pattern.jpg");
  border-left: solid 1px #e9d7b9;
  border-right: solid 1px #e9d7b9;
  border-bottom: solid 1px #e9d7b9;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

/* line 36, D:/projects/other/wh/html/sass/partials/_layers.scss */
.l-content_inner {
  margin: 100px 62px 0 347px;
  padding-bottom: 100px;
  overflow: hidden;
}

/* line 46, D:/projects/other/wh/html/sass/partials/_layers.scss */
.l-houses_main, .l-houses_inner {
  margin-top: 45px;
}

/* line 1, D:/projects/other/wh/html/sass/partials/_blocks.scss */
.b-lang {
  margin: 20px 0 45px 42px;
}

/* line 3, D:/projects/other/wh/html/sass/partials/_blocks.scss */
.b-lang li {
  float: left;
  margin-right: 10px;
}

/* line 6, D:/projects/other/wh/html/sass/partials/_blocks.scss */
.b-lang li:last-child {
  margin-right: 0;
}

/* line 9, D:/projects/other/wh/html/sass/partials/_blocks.scss */
.b-lang li.active {
  display: none;
}

/* line 12, D:/projects/other/wh/html/sass/partials/_blocks.scss */
.b-lang li a {
  display: block;
  padding: 5px 0 5px 25px;
}

/* line 16, D:/projects/other/wh/html/sass/partials/_blocks.scss */
.b-lang li.fr a {
  background: url("../img/icons/b-lang--fr.png") no-repeat left;
}

/* line 20, D:/projects/other/wh/html/sass/partials/_blocks.scss */
.b-lang li.eng a {
  background: url("../img/icons/b-lang--eng.png") no-repeat left;
}

/* line 26, D:/projects/other/wh/html/sass/partials/_blocks.scss */
.b-logo {
  margin: 20px 0 45px 52px;
}

/* line 30, D:/projects/other/wh/html/sass/partials/_blocks.scss */
.b-menu-left {
  width: 252px;
  padding-bottom: 100px;
}

/* line 33, D:/projects/other/wh/html/sass/partials/_blocks.scss */
.b-menu-left li {
  padding: 10px 0 10px 62px;
}

/* line 35, D:/projects/other/wh/html/sass/partials/_blocks.scss */
.b-menu-left li a {
  font-weight: bold;
  text-decoration: none;
}

/* line 38, D:/projects/other/wh/html/sass/partials/_blocks.scss */
.b-menu-left li a:hover {
  text-decoration: none;
}

/* line 42, D:/projects/other/wh/html/sass/partials/_blocks.scss */
.b-menu-left li.active {
  border-bottom: solid 1px #f0e1cc;
}

/* line 45, D:/projects/other/wh/html/sass/partials/_blocks.scss */
.b-menu-left li.active a:link, .b-menu-left li.active a:visited {
  color: #2c84d7;
}

/* line 50, D:/projects/other/wh/html/sass/partials/_blocks.scss */
.b-menu-left li > ul {
  position: relative;
  left: -62px;
}

/* line 53, D:/projects/other/wh/html/sass/partials/_blocks.scss */
.b-menu-left li > ul li {
  padding: 5px 0 5px 62px;
}

/* line 55, D:/projects/other/wh/html/sass/partials/_blocks.scss */
.b-menu-left li > ul li a {
  font-weight: normal;
}

/* line 57, D:/projects/other/wh/html/sass/partials/_blocks.scss */
.b-menu-left li > ul li a:hover {
  text-decoration: underline;
}

/* line 61, D:/projects/other/wh/html/sass/partials/_blocks.scss */
.b-menu-left li > ul li.active {
  border-bottom: none;
  background: url("../img/icons/b-menu-left--li-active.png") no-repeat;
  background-position: 42px center;
}

/* line 72, D:/projects/other/wh/html/sass/partials/_blocks.scss */
.b-menu-top li {
  float: left;
  vertical-align: middle;
}

/* line 77, D:/projects/other/wh/html/sass/partials/_blocks.scss */
.b-menu-top li:last-child {
  margin-right: 0 !important;
}

/* line 80, D:/projects/other/wh/html/sass/partials/_blocks.scss */
.b-menu-top li a {
  display: block;
  vertical-align: middle;
  padding: 10px 0;
  color: #a86031;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

/* line 89, D:/projects/other/wh/html/sass/partials/_blocks.scss */
.b-menu-top li a:hover {
  color: #398edd;
}

/* line 93, D:/projects/other/wh/html/sass/partials/_blocks.scss */
.b-menu-top li.active {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background-color: rgba(88, 168, 244, 0.7);
}

/* line 96, D:/projects/other/wh/html/sass/partials/_blocks.scss */
.b-menu-top li.active a {
  color: #fff;
  text-decoration: none;
}

/* line 104, D:/projects/other/wh/html/sass/partials/_blocks.scss */
.b-header_inner {
  margin-right: 230px;
}

/* line 106, D:/projects/other/wh/html/sass/partials/_blocks.scss */
.b-header_inner h1, .b-header_inner h2 {
  color: #a86031;
  font-weight: normal;
}

/* line 110, D:/projects/other/wh/html/sass/partials/_blocks.scss */
.b-header_inner h1 {
  font-family: HelveticaNeueCyr, Arial;
  font-size: 48px;
}

/* line 114, D:/projects/other/wh/html/sass/partials/_blocks.scss */
.b-header_inner h2 {
  font-size: 27px;
}

/* line 119, D:/projects/other/wh/html/sass/partials/_blocks.scss */
.b-contacts {
  width: 190px;
  color: #a86031;
  font-size: 15px;
}

/* line 123, D:/projects/other/wh/html/sass/partials/_blocks.scss */
.b-contacts .e-city {
  margin-right: 140px;
  font-weight: bold;
}

/* line 127, D:/projects/other/wh/html/sass/partials/_blocks.scss */
.b-contacts .e-tels {
  float: right;
}

/* line 130, D:/projects/other/wh/html/sass/partials/_blocks.scss */
.b-contacts a {
  color: #2c84d7;
}

/* line 133, D:/projects/other/wh/html/sass/partials/_blocks.scss */
.b-contacts .e-desc {
  margin-top: 10px;
}

/* главная страница домов, главная раздела */
/* line 139, D:/projects/other/wh/html/sass/partials/_blocks.scss */
.b-item-house {
  float: left;
  width: 28%;
  margin-right: 8%;
  border-top: dotted 2px #d6b49d;
}

/* line 144, D:/projects/other/wh/html/sass/partials/_blocks.scss */
.b-item-house a {
  text-decoration: none;
}

/* line 147, D:/projects/other/wh/html/sass/partials/_blocks.scss */
.b-item-house .e-pic-painted {
  text-align: center;
}

/* line 148, D:/projects/other/wh/html/sass/partials/_blocks.scss */
.b-item-house .e-pic-painted img {
  max-width: 100%;
  height: auto;
}

/* line 155, D:/projects/other/wh/html/sass/partials/_blocks.scss */
.b-item-house .e-title_main h1, .b-item-house .e-title_inner h1 {
  font-size: 18px;
  text-decoration: underline;
}

/* line 159, D:/projects/other/wh/html/sass/partials/_blocks.scss */
.b-item-house .e-title_main h2, .b-item-house .e-title_inner h2 {
  margin-top: 10px;
  color: #333;
  font-weight: bold;
  text-decoration: none;
}

/* line 166, D:/projects/other/wh/html/sass/partials/_blocks.scss */
.b-item-house.last {
  margin-right: 0;
}

/* line 170, D:/projects/other/wh/html/sass/partials/_blocks.scss */
.b-item-house .e-figure figcaption {
  margin-top: 20px;
}

/* line 174, D:/projects/other/wh/html/sass/partials/_blocks.scss */
.b-item-house .e-title_inner {
  margin-top: 20px;
}

/* line 177, D:/projects/other/wh/html/sass/partials/_blocks.scss */
.b-item-house .e-title_inner h2 {
  color: #2c84d7;
}

/* line 181, D:/projects/other/wh/html/sass/partials/_blocks.scss */
.b-item-house .e-figure_inner {
  text-align: center;
}

/* line 183, D:/projects/other/wh/html/sass/partials/_blocks.scss */
.b-item-house .e-figure_inner img {
  max-width: 100%;
  height: auto;
  margin-top: 15px;
  padding: 7px;
  border: solid 1px #c89b80;
  background-color: #fff;
}

/* line 191, D:/projects/other/wh/html/sass/partials/_blocks.scss */
.b-item-house .e-figure_inner figcaption {
  margin: 15px 0 40px;
  color: #333333;
  text-align: left;
}

/* line 199, D:/projects/other/wh/html/sass/partials/_blocks.scss */
.b-item-house-slider_small, .b-item-house-slider_big {
  position: relative;
  height: 131px;
  margin-top: 20px;
}

/* line 203, D:/projects/other/wh/html/sass/partials/_blocks.scss */
.b-item-house-slider_small a, .b-item-house-slider_big a {
  display: block;
  position: absolute;
  top: 0;
  padding: 7px;
  border: solid 1px #c89b80;
  background-color: #fff;
}

/* line 210, D:/projects/other/wh/html/sass/partials/_blocks.scss */
.b-item-house-slider_small a:nth-child(1), .b-item-house-slider_big a:nth-child(1) {
  left: 0;
  z-index: 50;
}

/* line 214, D:/projects/other/wh/html/sass/partials/_blocks.scss */
.b-item-house-slider_small a:nth-child(2), .b-item-house-slider_big a:nth-child(2) {
  left: 15px;
  z-index: 40;
}

/* line 218, D:/projects/other/wh/html/sass/partials/_blocks.scss */
.b-item-house-slider_small a:nth-child(3), .b-item-house-slider_big a:nth-child(3) {
  left: 30px;
  z-index: 30;
}

/* line 222, D:/projects/other/wh/html/sass/partials/_blocks.scss */
.b-item-house-slider_small a:nth-child(4), .b-item-house-slider_big a:nth-child(4) {
  left: 45px;
  z-index: 20;
}

/* line 226, D:/projects/other/wh/html/sass/partials/_blocks.scss */
.b-item-house-slider_small a:nth-child(5), .b-item-house-slider_big a:nth-child(5) {
  left: 60px;
  z-index: 10;
}

/* line 230, D:/projects/other/wh/html/sass/partials/_blocks.scss */
.b-item-house-slider_small a:hover, .b-item-house-slider_big a:hover {
  z-index: 60 !important;
}

/* line 233, D:/projects/other/wh/html/sass/partials/_blocks.scss */
.b-item-house-slider_small a img, .b-item-house-slider_big a img {
  width: 150px;
  height: 113px;
}

/* line 243, D:/projects/other/wh/html/sass/partials/_blocks.scss */
.b-item-house-slider_big a:nth-child(1) {
  left: 0;
}

/* line 246, D:/projects/other/wh/html/sass/partials/_blocks.scss */
.b-item-house-slider_big a:nth-child(2) {
  left: 120px;
}

/* line 249, D:/projects/other/wh/html/sass/partials/_blocks.scss */
.b-item-house-slider_big a:nth-child(3) {
  left: 240px;
}

/* line 252, D:/projects/other/wh/html/sass/partials/_blocks.scss */
.b-item-house-slider_big a:nth-child(4) {
  left: 360px;
}

/* line 255, D:/projects/other/wh/html/sass/partials/_blocks.scss */
.b-item-house-slider_big a:nth-child(5) {
  left: 480px;
}

/* line 261, D:/projects/other/wh/html/sass/partials/_blocks.scss */
.b-project-history {
  margin-top: 80px;
  padding: 30px 90px;
  border-top: dotted 2px #d6b49d;
  border-bottom: dotted 2px #d6b49d;
  background-color: #fff;
}

/* line 267, D:/projects/other/wh/html/sass/partials/_blocks.scss */
.b-project-history h1 {
  font-size: 18px;
}

/* line 270, D:/projects/other/wh/html/sass/partials/_blocks.scss */
.b-project-history .e-desc {
  width: 300px;
  margin-top: 15px;
}

/* /главная страница домов, главная раздела */
/* line 278, D:/projects/other/wh/html/sass/partials/_blocks.scss */
.b-footer {
  position: absolute;
  bottom: 20px;
  left: 62px;
  right: 62px;
  z-index: 30;
  background: url("../img/layers--bg-pattern.jpg");
  border-left: solid 1px #e9d7b9;
  border-right: solid 1px #e9d7b9;
  border-bottom: solid 1px #e9d7b9;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

/* line 289, D:/projects/other/wh/html/sass/partials/_blocks.scss */
.b-footer .e-text {
  padding: 10px 25px;
  font-size: 13px;
}

/* line 293, D:/projects/other/wh/html/sass/partials/_blocks.scss */
.b-footer .e-star {
  width: 30px;
  height: 30px;
  margin: 2px 15px 0 0;
  background: url("../img/e-star.png") no-repeat left top;
  text-indent: -9999px;
}

@media screen and (max-height: 900px) {
  /* line 4, D:/projects/other/wh/html/sass/partials/_media.scss */
  .b-menu-left li a {
    font-size: 90%;
    line-height: 90%;
  }

  /* line 8, D:/projects/other/wh/html/sass/partials/_media.scss */
  .b-menu-left > li {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  /* line 11, D:/projects/other/wh/html/sass/partials/_media.scss */
  .b-menu-left > li > ul li {
    padding-top: 3px;
    padding-bottom: 3px;
  }
}
